include ./helpers/layout-default.jade

block head
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/jquery-validation/Gruntfile.js')
    script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js')
    script(type='text/javascript', src='/js/Contact-us.js')
    link(rel='stylesheet', href='/stylesheets/Contact-us.css')
block body
        include Contact-us.html
            
        
    footer
                
            
block footer

    