include ./helpers/layout-default.jade

block head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/Stylesheets/style.css')
    link(rel='stylesheet', href='/Stylesheets/soc.css')

block body

    div.container
        div.left-column
            
            div.Stock-photo-1
                    img(src="http://www.public-domain-photos.com/free-stock-photos-4-big/people/face-12.jpg")
                    p Lorem ipsum amet,  elit. Maecenas tempor convallis suscipit. Maecenas maximus arcu enim, sed elementum eget.
            div.Stock-photo-2
                    img(src="http://www.public-domain-photos.com/free-stock-photos-1-big/people/sitting-girl.jpg")       
                    p Lorem ipsum amet,  elit. Maecenas tempor convallis suscipit. Maecenas maximus arcu enim, sed elementum eget.
                    
            div.Stock-photo-3
                    img(src="http://www.public-domain-photos.com/free-stock-photos-1-big/people/girl-and-dog.jpg")
                    p Lorem ipsum amet,  elit. Maecenas tempor convallis suscipit. Maecenas maximus arcu enim, sed elementum eget.        

        
        div.right-column
            h1 Welcome!
               
               
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor convallis suscipit. Maecenas maximus arcu enim, sed molestie orci elementum eget. Praesent vulputate dictum quam, sit amet maximus mi. Sed sagittis libero ac odio tincidunt facilisis. Phasellus vel velit nulla. Donec non tempus turpis. Nunc nulla nulla, lobortis vel arcu sit amet, pellentesque blandit neque. Fusce erat leo, aliquam sit amet urna at, congue efficitur ipsum. Quisque vitae lacus et lectus efficitur blandit eget vel elit.

            p metus sapien, dignissim vitae dui ut, sollicitudin scelerisque lectus. Aliquam erat volutpat. Aenean et ullamcorper enim. Curabitur accumsan iaculis erat, a tincidunt augue mollis sit amet. Vestibulum tortor eros, dignissim id eros ut, congue interdum mi. Quisque volutpat blandit bibendum. Fusce at condimentum mauris. Vivamus imperdiet maximus augue vel consequat. Proin pellentesque id dui pellentesque tincidunt. Vivamus turpis arcu, consectetur quis libero sed, eleifend porta nulla. Vivamus egestas nunc a mi ullamcorper, eget sodales dui pulvinar. Vivamus aliquet sit amet nunc non ultrices. Aliquam egestas varius libero vitae placerat.

            p sit amet dictum nisi, eget luctus tortor. Etiam gravida urna ut laoreet porttitor. Donec congue iaculis velit sit amet molestie. Praesent finibus pharetra quam, ut rhoncus massa finibus vitae. Duis quis egestas purus, ut pharetra sapien. Vivamus a ultrices eros. Vestibulum tincidunt ipsum et erat vulputate tempus. Nam sit amet dui vel ante dignissim bibendum. Praesent eget leo vitae metus interdum mollis sit amet eget magna. Mauris quis tincidunt libero. Fusce dapibus semper tellus nec tincidunt. Donec in est a nisl pretium auctor. Integer porttitor laoreet est, non aliquet mi pretium at. Suspendisse eleifend ornare est, at aliquet enim scelerisque at.
            p Phasellus condimentum orci eget nisl iaculis, id suscipit nibh sollicitudin. Nunc ultricies lacus eu nulla volutpat, vel semper dolor tristique. Mauris euismod ipsum vitae semper iaculis. Etiam hendrerit, turpis quis pulvinar viverra, libero quam hendrerit odio, sit amet viverra est purus in urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin elit turpis, hendrerit id ultricies a, posuere eget nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut scelerisque at quam id imperdiet. Quisque nec ex finibus, vulputate lacus sit amet, blandit mauris. Suspendisse potenti.

            p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed id sapien leo. Aliquam placerat mauris ligula, in pellentesque risus iaculis vel. Aliquam lacinia neque sit amet rutrum tincidunt. Duis eget velit sit amet turpis feugiat vestibulum nec id turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut maximus orci sit amet sem mollis imperdiet. Vestibulum at orci ac mauris eleifend accumsan. Pellentesque dignissim libero sed fermentum mollis. In hac habitasse platea dictumst. Phasellus egestas nisi nunc, non pharetra urna faucibus ac. Aenean sed nibh lacus. Praesent auctor tortor ac ipsum ornare iaculis.


        footer
        
            ul.soc
                li
                    a.soc-twitter(href='https://twitter.com/reubenkinara')
                li
                    a.soc-facebook(href='https://www.facebook.com/keron.kinarawilliams')
                li
                    a.soc-linkedin(href='https://uk.linkedin.com/in/keronkinara')
                li
                    a.soc-tumblr(href='keronkinara.tumblr.com')
                li
                    a.soc-email1.soc-icon-last(href='keronkinara@outlook.com')
