extends ./helpers/layout-default.jade

block head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/something.js')

    
    
    block body
    
    h   
    div(class="thumbnail-ul")
        ul
            li 
                img(class="thumbnail",class="pic",src="/images/pic1.jpg")
            li 
                img(class="thumbnail",class="pic",src="/images/pic2.jpg")
            li 
                img(class="thumbnail",class="pic",src="/images/pic3.jpg")    
            li 
                img(class="thumbnail",class="pic",src="/images/pic4.jpg") 
            li 
                img(class="thumbnail",class="pic",src="/images/pic5.jpg")  
                div(class="bigger-pic-ul")
            
block footer
  