include ./helpers/layout-default.jade

block head
    link(rel='stylesheet', href='/stylesheets/something.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/something.js')


    
    block body
    
      
    div(id="slider")
        ul(class="slides")
            li 
                img(class="slide",src="/images/pic1.jpg")
            li 
                img(class="slide",src="/images/pic2.jpg")
            li 
                img(class="slide",src="/images/pic3.jpg")    
            li 
                img(class="slide",src="/images/pic4.jpg") 
            li 
                img(class="slide",src="/images/pic5.jpg") 
            li  
                img(class="slide",src="/images/pic6.jpg")
            li  
                img(class="slide",src="/images/pic7.jpg")
            li  
                img(class="slide",src="/images/pic8.jpg")
            li  
                img(class="slide",src="/images/pic1.jpg")
                
    footer
                
            
block footer

    