#header{
    background-image: url("/images/header image.jpg");
    width:1000px;
    height:400px;
    margin:0 auto;

}

/*Create a horizontal list with spacing*/



ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
    background-color: #464675; opacity: 0.8; filter: alpha(opacity=50);
    

    
}
/*Create a horizontal list with spacing*/

li {
	display:inline-block;
	float: left;
	margin-right: 1px;
    box-shadow: 0 0 5px 1px #5C246E;
    

}

/*Style for menu links*/
#menu li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: floralwhite;
	background: #464675;
	text-decoration: none;
}

/*Hover state for top level links*/
#menu li:hover a {
	background: black;
}

/*Style for dropdown links*/
#menu li:hover .hidden a {
	background: #464675;
	color: white;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#menu li:hover .hidden a:hover {
	background: #BC8F8F;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li .hidden {
	display: none;
}

/*Make dropdown links vertical*/
#menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li .hidden li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu li a:hover + .hidden, .hidden:hover {
	display: block;
}