body{
background-color: #F0F8FF; 
}

.left-column{
    width: 300px;
    background-color:#9C6B98;
    height: 600px;
    margin: 0;
    float: left;
    color:#D3D3D3;
    font-family: sans-serif;
    font-size: 14.5px;
}

.right-column{
    width: 700px;
    background-color:#7A378B;
    height:600px;
    margin: 0;
    float:left;
    color:#D3D3D3;
    font-family: sans-serif;

}

.right-column p{
        font-size: 95%;
        text-align: justify;

}
.container{
    margin: 0 auto;
   
    width:1000px;
    height:600px;
  
}

.right-column h1{
    color:darkblue;
    font-size: 35px;
    font-weight: bold;
    margin: 2 0 5 10;
    text-align: center;
}

p{
 margin:10px;
 padding left:0 10;
}

footer{
    clear:both;
    max-width:1000px;
    width: 1000px;
    background-color:#464675;
    height:70px;
    padding:15 0 0 10;
    margin: 0 auto;
    box-sizing: border-box;
}

div div div img{
    width: 150px;
    height:150px;
    float:left;
    margin-bottom: 10px;
    margin-rght:5px;
    padding-right: 5px;
    margin-top:8px;
    margin-left: 5px
}
div div div{
    margin:8px;
     border: 4px #7A378B solid;
}
   


   
