body{
background-color: #F0F8FF; 
}

.left-column{
    width: 300px;
    background-color:#9C6B98;
    height: 400px;
    margin: 0;
    float: left;
    color:#D3D3D3;
}

.right-column{
    width: 700px;
    background-color:#7A378B;
    height:400px;
    margin: 0;
    float:left;
    color:#D3D3D3;

    

}
.container{
    margin: 0 auto;
   
    width:1000px;
    height:600px;
  
}

h1{
    color:darkblue;
    font-size: 30px;
    font-weight: bold;
    margin: 2 0 5 10;
}

p{
 margin:10px;
 padding left:0 10;
}

footer{
    clear:both;
    width:1000px;
    background-color:#464675;
    height:70px;
}

div div div img{
    width: 150px;
    height:150px;
    float:left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-rght:5px;
    padding-right: 5px;
}
div div div{
margin:10px   
}
   


    

   
